body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 80vh;
}

.btn {
  border-radius: 5px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.day3Header, .day3Body{
  background-color: #b8e2f2 !important;
  color: #000 !important;
  border: none !important;
}

.day3-form{
  padding: 15px;
  margin: 15px;
}

.display-image{
  height: 30%;
  width: 30%;
}

.day3-display-card {
  box-shadow: 5px 5px 5px lightgray;
  padding: 0px !important;
}